._settings {
  ._avatarBlock {
    text-align: center;
  }
  ._header {
    margin: 0;
  }

  ._columns {
    display: flex;
    flex-direction: row;

    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
  }

  ._list,
  ._clients {
    width: 100%;
  }

  ._list .ui.segment {
    display: flex;
    flex-direction: row;
    align-items: center;
    ._clientName {
      flex-grow: 1;
    }
  }
}

._clients {
  margin-top: 14px;
  margin-right: 14px;
  flex-grow: 2;
}

._userSettings {
  margin-top: 14px;
  margin-left: 14px;
  flex-grow: 1;
}

@media (max-width: 650px) {
  ._clients,
  ._userSettings {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}
